@import './_config.sass'

// notifications
.toasts_container 
  width: 320px 
  position: fixed
  bottom: 20px 
  right: 50px
  z-index: 1000

  .toast 
    width: 100%
    display: grid
    grid-template-columns: 15px 20% 1fr
    align-items: center
    margin-bottom: 15px
    box-shadow: 0px 4px 12px rgba(102, 102, 102, 0.25)
    border-radius: 2px
    transition: 0.5s
    border: 1px solid $line
    padding: 20px 10px
    cursor: pointer
    background: white

    &_title
      font-weight: bold
      margin-bottom: 10px
    

    .toast_desc 
      color: $description
      margin-top: 5px
      font-size: 14px
      line-height: 1.5
      // white-space: nowrap /* Запрещаем перенос строк */
      // overflow: hidden /* Обрезаем все, что не помещается в область */
      // text-overflow: ellipsis /* Добавляем многоточие */
    

    .icon 
      display: flex
      align-items: center
      justify-content: center
    

    img 
      width: 30px 
      height: 30px

  .toast::before
    content: ' '
    left: 10px
    height: 90%
    border-radius: 5px
    width: 4px
    position: relative

  .warning::before
    background: $n_warning
  
  .success::before
    background: $n_success

  .info::before
    background: $n_info

  .toast:hover
    background: #f5f5f5


// inputs

input::placeholder
  color: $hint
  font-weight: normal

.field_name
  text-align: left
  margin-bottom: 5px
  font-size: 14px
  color: $description

.text_input
  border-radius: 3px
  border: 1px solid $line
  padding: 12px
  display: block
  background: white
  display: flex
  margin-bottom: 30px
  cursor: pointer

  &.disabled
    background-color: $line

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  /* Firefox */
  input[type=number]
    -moz-appearance: textfield
  
  &__icon
    width: 24px
    height: 24px
    display: flex
    align-items: center
    justify-content: center
    margin-right: 10px

    img
      width: 18px
      height: 18px

  &__content
    display: flex
    align-items: center
    width: 100%
    input
      border: none
      background: none
      outline: 0
      width: 100%
      font-weight: 600


.select_input 
  position: relative
  margin-bottom: 20px


  .parent_block 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 12px
    border: 1px solid $line
    border-radius: 2px
    cursor: pointer
    background: white
    font-weight: 600

    .icon
      margin-right: 10px
      width: 24px
      height: 24px
        
    &__content
      display: flex
      align-items: center

      .placeholder
        font-size: 14px
        color: $hint
        font-style: italic
        font-weight: normal

      .text
        color: $description
  

  .selected_parent_block 
    background: #EEFCF4
    border-color: #27AE60
  

  .fold_block
    position: absolute 
    border-radius: 0 0 3px 3px
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1)
    border: 1px solid #E3E3E4
    width: 100%
    z-index: 10
    max-height: 400px
    overflow-y: auto
    max-width: 210px

    .block 
      margin: 0
      height: 50px
      display: flex
      justify-content: space-between
      align-items: center
      background: white
      width: 100%
      cursor: pointer
      transition: 0.2s

      .text
        padding-left: 15px
        color: $description
        font-weight: 500
    

    .block:hover 
      background: #f5f5f5
    

    .selected 
      background: #f0f0f0
    

    .selected:hover 
      background: #f0f0f0



// обычная кнопка
.btn
  padding: 15px 25px
  border: none
  border-radius: 3px
  background: $accent
  font-size: 18px
  color: white
  position: relative
  cursor: pointer
  transition: 0.3s
  font-weight: 600

  &.round
      border-radius: 40px
      text-transform: none

  &.arrow
      padding: 15px 75px 15px 25px

  &.arrow::after
      content: url('/static/img/arrow--right--white.svg')
      width: 36px
      position: absolute
      margin-left: 20px
      transition: 0.3s

  &.arrow:hover
      padding-right: 95px

  &.arrow:hover::after
      margin-left: 40px

  &.full
      width: 100%

  &.glow
    color: $accent  
    background: rgba($accent, 0.08)
  
  &.glow:hover
      background: rgba($accent, 0.15)

.btn:hover
    background: darken($accent,10% )

.btn_icon
  display: flex
  align-items: center

  &.nofill
    background: none
    padding: 0
    color: $accent
    font-size: 15px

    img
      margin-right: 10px

  img
    margin-right: 15px

.btn_border
  border: 2px solid $accent
  color: $accent
  background-color: white
  border-radius: 5px

.btn_border:hover
  background-color: rgba($accent, 10%)



// круглая кнопка с иконкой внутри
.btn_circle_icon
    border-radius: 50%
    background: #f1f1f1
    padding: 15px
    position: relative
    border: none
    cursor: pointer
    transition: 0.3s
    display: flex
    align-items: center
    font-size: 16px
    border: 1px solid $line

.btn_circle_icon:hover
    background: #cfcfcf

.btn_circle_icon::after
    position: relative
    content: ' '
    width: 18px
    height: 18px
    background-repeat: no-repeat
    background-size: cover


.like::after
    background-image: url('/static/img/like--gray.svg')

.cart::after
    background-image: url('/static/img/cart--gray.svg')

.plus::after
    background-image: url('/static/img/plus--gray.svg')


// ссылка обычная
.link
    font-weight: bold
    color: $accent
    cursor: pointer
    transition: 0.3s
    text-decoration: none

.link:hover
    color: darken($accent, 10%)
    text-decoration: underline

.btn_link
    border-radius:30px
    background: $accent
    padding: 15px 20px
    color: white

    &.blocked
        background: rgba($accent, 0.4)
    
    &.blocked:hover
        background: rgba($accent, 0.4)
        text-decoration: none



// modal windows
.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  z-index: 100
  display: flex
  justify-content: center
  align-items: center


  &__shadow
    width: 100%
    height: 100vh
    position: absolute
    background: rgba(0, 0, 0, 0.3)
    z-index: -1
  
  &__window
    background-color: white
    padding: 50px 100px
    border-radius: 12px
    text-align: center
    width: 400px

    button
      margin-bottom: 30px

    &__title
      font-size: 32px
      margin-bottom: 30px
      font-weight: bold

    &__content
      position: relative

    .hint
      font-size: 14px
      color: $description
    
  &__close
    position: absolute
    top: -180px
    right: -150px
    cursor: pointer
